@font-face {
  font-family: GilroyB;
  src: url("../../Assets/fonts/Gilroy-ExtraBold.woff");
}
@font-face {
  font-family: GilroyL;
  src: url("../../Assets/fonts/Gilroy-Light.woff");
}
* {
  padding: 0;
  margin: 0;
  font-family: "GilroyL";
  width: auto;
}

p {
  margin: 0;
}

h1 {
  font-family: "GilroyB";
}

.page p, .page select {
  font-size: small;
  color: rgb(152, 162, 179);
}
.page ::-ms-input-placeholder {
  color: rgb(152, 162, 179);
  overflow: hidden;
}
.page input, .page select {
  border-radius: 8px;
}
.page input {
  border: 0.5px solid rgb(99, 99, 106);
  overflow: hidden;
}
.page input:focus {
  outline: none !important;
}
.page select:focus {
  outline: none !important;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../Assets/images/Rectangle.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 46%;
}
.page .regPage {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
.page .regPage .layer1 {
  display: flex;
  flex-direction: column;
  padding-top: 1.8rem;
}
.page .regPage .layer1 .name {
  width: 32rem;
  height: 2.5rem;
  padding-left: 0.8rem;
}
.page .regPage .layer2 {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.page .regPage .layer2 .phoneInput {
  display: flex;
  flex-direction: row;
}
.page .regPage .layer2 .phoneInput .pc {
  padding-left: 0.5rem;
}
.page .regPage .layer2 .phoneInput .phoneCode {
  width: 1.8rem;
  height: 2.4rem;
  padding-left: 0.4rem;
}
.page .regPage .layer2 .phoneInput .phoneNumber {
  width: 29.3rem;
  height: 2.5rem;
  padding-left: 0.8rem;
}
.page .regPage .layer3 {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
.page .regPage .layer3 .email1 {
  display: flex;
  flex-direction: column;
  flex: 50%;
}
.page .regPage .layer3 .e2 {
  padding-left: 1.5rem;
}
.page .regPage .layer3 .email2 {
  display: flex;
  flex-direction: column;
  flex: 50%;
}
.page .regPage .layer3 .enterEmail {
  width: 14.8rem;
  height: 2.5rem;
  padding-left: 0.8rem;
}
.page .regPage .layer4 {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
.page .regPage .layer4 .password {
  display: flex;
  flex-direction: column;
  flex: 50% 2;
}
.page .regPage .layer4 .password .wrapfield {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.page .regPage .layer4 .password .wrapfield .shBtn {
  position: relative;
  left: -14%;
  top: 21%;
}
.page .regPage .layer4 .password .wrapfield .showbtn {
  position: absolute;
  height: 50%;
  background-color: white;
  border: none;
  color: rgb(183, 189, 199);
  cursor: pointer;
}
.page .regPage .layer4 .password .enterPassword {
  width: 14.8rem;
  height: 2.5rem;
  padding-left: 0.8rem;
}
.page .regPage .layer4 .p2 {
  padding-left: 1.5rem;
}
.page .regPage .layer5 {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
.page .regPage .layer5 .student {
  display: flex;
  flex-direction: column;
  flex: 50% 2;
}
.page .regPage .layer5 .student .branch {
  width: 15.7rem;
  height: 2.5rem;
  padding-left: 0.8rem;
}
.page .regPage .layer5 .student .regdNo {
  width: 14.8rem;
  height: 2.5rem;
  padding-left: 0.8rem;
}
.page .regPage .layer5 .r1 {
  padding-left: 1.5rem;
}
.page .regPage .layer5 select.option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.page .regPage .layer5 .selectBranch {
  position: relative;
}
.page .regPage .layer5 .selectBranch .branch {
  background-image: url("../../Assets/images/down.png");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 96%;
  cursor: pointer;
}
.page .regPage .layer6 {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
.page .regPage .layer6 .membership {
  display: flex;
  flex-direction: column;
  flex: 50% 2;
}
.page .regPage .layer6 .membership .member {
  width: 15.7rem;
  height: 2.5rem;
  padding-left: 0.8rem;
}
.page .regPage .layer6 .membership .wing {
  width: 14.8rem;
  height: 2.5rem;
  padding-left: 0.8rem;
}
.page .regPage .layer6 .w1 {
  padding-left: 1.5rem;
}
.page .regPage .layer6 select.option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.page .regPage .layer6 .selectMember {
  position: relative;
}
.page .regPage .layer6 .selectMember .member {
  background-image: url("../../Assets/images/down.png");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 96%;
  cursor: pointer;
}
.page .regPage .layer7 {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.page .regPage .layer7 select.option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.page .regPage .layer7 .domain {
  height: 2.5rem;
  padding-left: 0.8rem;
}
.page .regPage .selectdomain {
  position: relative;
}
.page .regPage .selectdomain .domain {
  background-image: url("../../Assets/images/down.png");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 98%;
  cursor: pointer;
}
.page .regPage .layer8 {
  display: flex;
  align-items: center;
  padding-top: 1.2rem;
  flex: 25% 4;
}
.page .regPage .layer8 .btn1 {
  padding-right: 1.2rem;
}
.page .regPage .layer8 .registerBtn {
  width: 7rem;
  padding: 0.2rem;
  height: 2.5rem;
  background-color: rgb(16, 113, 255);
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}
.page .regPage .layer8 .registerBtn:hover {
  background-color: white;
  color: rgb(16, 113, 255);
}
.page .regPage .layer8 .btn2 {
  padding-left: 1.2rem;
  padding-right: 1rem;
}
.page .regPage .layer8 .google, .page .regPage .layer8 .git {
  width: 4.6rem;
  padding: 0.2rem;
  height: 2.65rem;
  border: 1px solid rgb(189, 191, 199);
  border-radius: 24px;
  background-color: white;
  cursor: pointer;
}
.page .regPage .layer8 .google {
  color: rgb(7, 107, 247);
}
.page .regPage .layer8 .google:hover {
  background-color: rgb(16, 113, 255);
  color: white;
}
.page .regPage .layer8 .git:hover {
  color: white;
  background-color: black;
}
.page .regPage .layer9 {
  padding-top: 1rem;
  display: flex;
}
.page .regPage .layer9 span {
  color: blue;
  padding-left: 0.5rem;
  cursor: pointer;
}
.page .image {
  padding-top: 3rem;
  width: 35rem;
}
.page .image .window {
  position: relative;
  width: 12rem;
  height: 11rem;
  bottom: 46rem;
  right: -20rem;
}

@media screen and (min-height: 1000px) and (max-height: 1440px) {
  .page .regPage {
    padding-bottom: 2rem;
    height: 50rem;
  }
  .page .regPage .layer8 {
    padding-top: 0rem;
  }
  .page .regPage .layer9 {
    padding-top: 0rem;
    padding-bottom: 8.1rem;
  }
}
@media screen and (min-width: 950px) and (max-width: 1200px) {
  .page {
    background-size: 100% 35%;
  }
  .page .regPage {
    padding-top: 10rem;
  }
  .page .regPage .layer1 {
    padding-top: 1.8rem;
  }
  .page .regPage .layer1 .name {
    width: 27.6rem;
    height: 2.4rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer2 {
    padding-top: 1rem;
  }
  .page .regPage .layer2 .phoneInput .pc {
    padding-left: 0.5rem;
  }
  .page .regPage .layer2 .phoneInput .phoneCode {
    width: 1.8rem;
    height: 2.4rem;
    padding-left: 0.4rem;
  }
  .page .regPage .layer2 .phoneInput .phoneNumber {
    width: 24.7rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer3 {
    padding-top: 1rem;
  }
  .page .regPage .layer3 .email1 {
    flex: 50%;
  }
  .page .regPage .layer3 .e2 {
    padding-left: 1rem;
  }
  .page .regPage .layer3 .email2 {
    flex: 50%;
  }
  .page .regPage .layer3 .enterEmail {
    width: 12.8rem;
    height: 2.5rem;
    padding-left: 0.6rem;
  }
  .page .regPage .layer4 {
    padding-top: 1rem;
  }
  .page .regPage .layer4 .password {
    flex: 50% 2;
  }
  .page .regPage .layer4 .password .wrapfield .shBtn {
    position: relative;
    left: -14%;
    top: 21%;
  }
  .page .regPage .layer4 .password .enterPassword {
    width: 12.8rem;
    height: 2.5rem;
    padding-left: 0.6rem;
  }
  .page .regPage .layer4 .p2 {
    padding-left: 1rem;
  }
  .page .regPage .layer5 {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
  }
  .page .regPage .layer5 .student {
    display: flex;
    flex-direction: column;
    flex: 50% 2;
  }
  .page .regPage .layer5 .student .branch {
    width: 13.6rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer5 .student .regdNo {
    width: 12.8rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer5 .r1 {
    padding-left: 1rem;
  }
  .page .regPage .layer6 {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
  }
  .page .regPage .layer6 .membership {
    display: flex;
    flex-direction: column;
    flex: 50% 2;
  }
  .page .regPage .layer6 .membership .member {
    width: 13.6rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer6 .membership .wing {
    width: 12.8rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer6 .w1 {
    padding-left: 1rem;
  }
  .page .regPage .layer7 .domain {
    width: 29rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .image {
    padding-top: 3rem;
    width: 24rem;
  }
  .page .image .regImage {
    width: 29.5rem;
    height: 41rem;
  }
  .page .image .window {
    position: relative;
    width: 7rem;
    height: 7rem;
    bottom: 36.5rem;
    right: -15rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 949px) {
  .page {
    background-size: 100% 35%;
  }
  .page .regPage {
    padding-bottom: 3rem;
    padding-top: 10rem;
  }
  .page .image {
    display: none;
  }
  .page .image .regImage {
    display: none;
  }
  .page .image .window {
    display: none;
  }
}
@media screen and (min-width: 350px) and (max-width: 599px) {
  .page {
    background-size: 100% 35%;
  }
  .page .regPage {
    padding-bottom: 3rem;
    padding-top: 10rem;
  }
  .page .regPage .layer1 {
    padding-top: 1.8rem;
  }
  .page .regPage .layer1 .name {
    width: 19.1rem;
    height: 2.4rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer2 {
    padding-top: 1rem;
  }
  .page .regPage .layer2 .phoneInput .pc {
    padding-left: 0.5rem;
  }
  .page .regPage .layer2 .phoneInput .phoneCode {
    width: 1.8rem;
    height: 2.4rem;
    padding-left: 0.4rem;
  }
  .page .regPage .layer2 .phoneInput .phoneNumber {
    width: 16.3rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer3 {
    padding-top: 1rem;
    flex-direction: column;
  }
  .page .regPage .layer3 .email1 {
    flex: 50%;
  }
  .page .regPage .layer3 .e2 {
    padding-left: 0rem;
    padding-top: 1rem;
  }
  .page .regPage .layer3 .email2 {
    flex: 50%;
  }
  .page .regPage .layer3 .enterEmail {
    width: 19.1rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer4 {
    padding-top: 1rem;
    flex-direction: column;
  }
  .page .regPage .layer4 .password {
    flex: 50% 2;
  }
  .page .regPage .layer4 .password .wrapfield .shBtn {
    position: relative;
    left: -12%;
    top: 0.6rem;
  }
  .page .regPage .layer4 .password .enterPassword {
    width: 19.1rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer4 .p2 {
    padding-left: 0rem;
    padding-top: 1rem;
  }
  .page .regPage .layer5 {
    flex-direction: column;
    padding-top: 1rem;
  }
  .page .regPage .layer5 .student {
    display: flex;
    flex-direction: column;
    flex: 50% 2;
  }
  .page .regPage .layer5 .student .branch {
    width: 20rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer5 .student .regdNo {
    width: 19.1rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer5 .r1 {
    padding-left: 0rem;
    padding-top: 1rem;
  }
  .page .regPage .layer6 {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  .page .regPage .layer6 .membership {
    display: flex;
    flex-direction: column;
    flex: 50% 2;
  }
  .page .regPage .layer6 .membership .member {
    width: 20rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer6 .membership .wing {
    width: 19.1rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer6 .w1 {
    padding-left: 0rem;
    padding-top: 1rem;
  }
  .page .regPage .layer7 .domain {
    width: 20rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer8 {
    justify-content: center;
  }
  .page .regPage .layer8 .btn1 {
    padding-right: 1.2rem;
  }
  .page .regPage .layer8 .registerBtn {
    width: 6rem;
    padding: 0.2rem;
    height: 2.3rem;
  }
  .page .regPage .layer8 .btn2 {
    padding-left: 1.2rem;
    padding-right: 1rem;
  }
  .page .regPage .layer8 .google, .page .regPage .layer8 .git {
    width: 4.2rem;
    padding: 0.2rem;
    height: 2.32rem;
  }
  .page .regPage .layer9 {
    justify-content: center;
    align-content: center;
  }
  .page .image {
    display: none;
  }
  .page .image .regImage {
    display: none;
  }
  .page .image .window {
    display: none;
  }
}
@media screen and (min-width: 280px) and (max-width: 349px) {
  .page {
    background-size: 100% 35%;
  }
  .page .regPage {
    padding-bottom: 3rem;
    padding-top: 10rem;
  }
  .page .regPage .layer1 {
    padding-top: 1.8rem;
  }
  .page .regPage .layer1 .name {
    width: 16.1rem;
    height: 2.4rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer2 {
    padding-top: 1rem;
  }
  .page .regPage .layer2 .phoneInput .pc {
    padding-left: 0.5rem;
  }
  .page .regPage .layer2 .phoneInput .phoneCode {
    width: 1.8rem;
    height: 2.4rem;
    padding-left: 0.4rem;
  }
  .page .regPage .layer2 .phoneInput .phoneNumber {
    width: 13.3rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer3 {
    padding-top: 1rem;
    flex-direction: column;
  }
  .page .regPage .layer3 .email1 {
    flex: 50%;
  }
  .page .regPage .layer3 .e2 {
    padding-left: 0rem;
    padding-top: 1rem;
  }
  .page .regPage .layer3 .email2 {
    flex: 50%;
  }
  .page .regPage .layer3 .enterEmail {
    width: 16.1rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer4 {
    padding-top: 1rem;
    flex-direction: column;
  }
  .page .regPage .layer4 .password {
    flex: 50% 2;
  }
  .page .regPage .layer4 .password .wrapfield .shBtn {
    position: relative;
    left: -12%;
    top: 0.6rem;
  }
  .page .regPage .layer4 .password .enterPassword {
    width: 16.1rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer4 .p2 {
    padding-left: 0rem;
    padding-top: 1rem;
  }
  .page .regPage .layer5 {
    flex-direction: column;
    padding-top: 1rem;
  }
  .page .regPage .layer5 .student {
    display: flex;
    flex-direction: column;
    flex: 50% 2;
  }
  .page .regPage .layer5 .student .branch {
    width: 17rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer5 .student .regdNo {
    width: 16.1rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer5 .r1 {
    padding-left: 0rem;
    padding-top: 1rem;
  }
  .page .regPage .layer6 {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  .page .regPage .layer6 .membership {
    display: flex;
    flex-direction: column;
    flex: 50% 2;
  }
  .page .regPage .layer6 .membership .member {
    width: 17rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer6 .membership .wing {
    width: 16.1rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer6 .w1 {
    padding-left: 0rem;
    padding-top: 1rem;
  }
  .page .regPage .layer7 .domain {
    width: 17rem;
    height: 2.5rem;
    padding-left: 0.8rem;
  }
  .page .regPage .layer8 {
    justify-content: center;
  }
  .page .regPage .layer8 .btn1 {
    padding-right: 1rem;
  }
  .page .regPage .layer8 .registerBtn {
    width: 5rem;
    padding: 0.2rem;
    height: 2rem;
  }
  .page .regPage .layer8 .btn2 {
    padding-left: 1.1rem;
    padding-right: 0.5rem;
  }
  .page .regPage .layer8 .google, .page .regPage .layer8 .git {
    width: 4.1rem;
    padding: 0.2rem;
    height: 2.15rem;
  }
  .page .regPage .layer9 {
    justify-content: center;
    align-content: center;
  }
  .page .image {
    display: none;
  }
  .page .image .regImage {
    display: none;
  }
  .page .image .window {
    display: none;
  }
}
@media screen and (min-height: 1000px) {
  .page {
    padding-bottom: 0rem;
    height: auto;
  }
}/*# sourceMappingURL=regPage.css.map */