.login-page {
  font-family: "Gilroy-Light";
  padding-top: 50px;
}
.login {
  height: 120vh;
  background-image: url("../../Assests/Group7509.png");
  background-position: center;
  background-size: 100vw 140vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.login-text {
  width: 35%;
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
  z-index:100;
}
.login-text-p1 {
  font-weight: bold;
  font-size: 2rem;
  font-weight: 650;
  margin-bottom: -0.8rem;
}
.login-text-p2 {
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.login-text-p2 span {
  color: blue;
  font-weight: 500;
  cursor: pointer;
}
.login-form-input {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.login-form-input input {
  padding: 0.5rem 1rem;
  width: 25vw;
  border-radius: 5px;
  border: 1px solid black;
}
.login-password-eye{
  font-size:20px;
  position: relative;
  top:-25px;
  left:24vw;
  cursor:pointer;
}
.login-button-section {
  padding-top: 30px;
  display: flex;
  gap: 1rem;
}
.login-btn {
  border-radius: 10rem;
  padding: 3px 40px;
  color: white;
  cursor: pointer;
  background-color: #1071ff;
  border: none;
}
.login-form-input {
  margin-top: 10px;
}
.google-btn {
  border-radius: 10rem;
  padding: 5px 30px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}
.github-btn {
  border-radius: 10rem;
  padding: 5px 30px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}
.google-btn-icon {
  font-size: 25px;
}
.github-btn-icon {
  font-size: 25px;
}

@media (max-width: 940px) {
  .login {
    height: 80vh;
    background-size: 100vw 100vh;
    background-position: center;
  }
}
@media (max-width: 540px) {
    .login {
        height:60vh;
        background-size: 100vw 80vh;
        background-position: center;
      }
      .login-text{
        margin-top: -10vh;
      }
  .login-text-p1 {
    font-size: 1.5rem;
  }
  .login-text-p2 {
    font-size: 0.75rem;
    margin-bottom: 3px;
  }
  .login-btn {
    font-size: 10px;
    padding: 1px 15px;
    border-radius: 1rem;
    height: 2rem;
  }
  .google-btn {
    border-radius: 1rem;
    height: 2rem;
    padding: 1px 15px;
  }
  .google-btn-icon {
    font-size: 15px;
  }
  .github-btn {
    border-radius: 1rem;
    height: 2rem;
    padding: 1px 15px;
  }
  .github-btn-icon {
    font-size: 15px;
  }
  .login-password-eye{
    font-size:15px;
  }
}
@media(max-width:415px){
    .login-text{
        width:20%;
        margin-top: -15vh;
    }
    .login-form-input input::placeholder{
        font-size:10px;
    }
    .login-button-section{
        padding-top:5px;
        gap:0.3rem;
    }
    .login-text-p1{
        font-size: 1rem;
    }

}






