@font-face {
    font-family:GilroyB;
    src: url('./fonts/Gilroy-ExtraBold.woff');
    }
    @font-face {
    font-family:GilroyL;
    // src: url('./components/fonts/Gilroy-Light.woff');
    src: url('./fonts/Gilroy-Light.woff');
    }
*{
    padding: 0;
    margin:0;
    font-family: "GilroyL";
    width: auto;

    // width: fit-content;
}
h1{
    font-family: "GilroyB";
}
.page{
    display: flex;
    flex-direction: row;
    background-image: url("../registrationPage/images/GroupImg.png");
    height: 1100px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 100%;

p,select{
    font-size: small;
    color: rgba(152, 162, 179, 1)
}
.name,.phoneCode,.phoneNumber,.enterEmail,.enterPassword,.branch,.regdNo,.member,.wing,.domain{
    border-radius: 8px;
}
input{
    border: 0.5px solid rgb(99, 99, 106);
}
input:focus{
    outline: none !important;
}
.regInput{
    display: flex;
    flex-direction: column;
    // width: 60%;
    padding-left: 8%;
    padding-top: 8%;
    padding-right: 20%;
    .layer1{
        display: flex;
        flex-direction: row;
        justify-items: center;
        padding-top: 5.5%;
        .phonenum{
            display: flex;
            flex-direction: row;
            div{
                margin-left: 2%;
            }
        }
        .profilePic{
            // margin-top: %;
            display:inline-block;
            position:relative;
            .fileimg{
                width: 100%;
                height:108%;
            }
            input[type=file]{
                opacity:0;
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                cursor: pointer;
            }
        }
        .name{
            width: 154%;
            height: 100.5%;
            padding: 2% 25% 2% 5%;
        }
        .phoneNumber{
            width: 267%;
            height: 116%;
            padding: 2% 25% 2% 5%;
        }
    
        .layer11{
            display: flex;
            flex-direction: column;
            padding-left: 5.5%;
        }
        .phoneCode{
            width: 10%;
            height: 100%;
            padding: 2%;
        }
        .phoneInput{
            padding-top: 10%;
        }
        .nameInput, .phoneInput{
            display: flex;
            flex-direction: column;
        }
    }
    .layer2{
        display: flex;
        flex-direction: row;
        padding-top: 10%;
        width: 144%;
        height: auto;
        .e2{
            padding-left: 15.5%;
            // position: relative;
        }
        .email{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .enterEmail{
            width: 90%;
            height: 116%;
            padding: 2% 25% 2% 5%;
        }
    }
    .layer3{
        display: flex;
        flex-direction: row;
        padding-top: 11%;
        width: 165%;
        height: auto;
                .p2{
                    padding-left: 27.5%;
                }
        .enterPassword{
            width: 186.1%;
            height: 150%;
            padding: 2% 0% 2% 8%;
        }
        .password{
            display: flex;
            flex-direction: column;
            // width: 100%;
            .wrapfield{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .shBtn{
                    position: relative;
                    left: 70%;
                    top: 40%;
                }
                .showbtn{
                    position: absolute;
                    height: 104%;
                    background-color: white;
                    border: none;

                    // right: 60%
                }
                // .b1{
            
                //     top: 73%;
                // }
                // .b2{
                //     // right: 90%;
                //     top: 73%;
                // }
                }
        }
    }
    .layer4,.layer5{
        display: flex;
        flex-direction: row;
        padding-top: 12%;
        width: 165%;
        height: auto;
        .r1{
            padding-left: 17.7%;
        }
        .w1{
            padding-left: 26.8%;
        }
        .student{
            display: flex;
            flex-direction: column;
            .branch{
                width: 136.5%;
                height: 140%;
                padding: 5.4% 0% 5.4% 5%;
                // background-color: white;
            }
            .regdNo{
                width: 186%;
                height: 154%;
                padding: 2% 0% 2% 5%;
                // background-color: white;
            }
        }
        .membership{
            display: flex;
            flex-direction: column;
            .member{
                width: 188%;
                height: 160%;
                padding: 7.3% 0% 7.3% 5%;
                // background-color: white;
            }
            .wing{
                width: 186%;
                height: 154%;
                padding: 2% 0% 2% 5%;
                // background-color: white;
            }
        }
    }
    .layer5{
        padding-top: 8%;
    }
    .layer6{
        display: flex;
        flex-direction: column;
        padding-top: 5.5%;
        .domain{
            width: 156.5%;
            height: 100%;
            padding: 3.2% 0% 3.2% 5%;
        }
    }
    .layer7{
        display: flex;
        align-items: center;
        padding-top: 10%;
        .btn1{
            padding-right: 16%;
        }
        .registerBtn{
            width: 200%;
            padding: 20%;
            height: 125%;
            background-color: rgba(16, 113, 255, 1);
            color: white;
            border: none;
            border-radius: 24px;
        }
        .btn2{
            padding-left: 6%;
            padding-right: 12%;
        }
        .google,.git{
            width: 270%;
            padding: 15%;
            height: 105%;
            border: none;
            border-radius: 24px;
            background-color: white;
        }
    }
    .layer8{
        padding-top: 5%;
        span{
            color: blue;
        }
    }
}
.pics{
    // width: 40%;
    .img2{
        height: 100%;
        width: 42%;
        top: 20%;
        position: absolute;
        left: 60%;
        margin-left: -2%;
    }
    .img3{
        height: 18%;
        width: 10%;
        top: 28%;
        position: absolute;left: 80%;
    }
}
}


@media screen and (min-width:320px) and (max-width:400px) {
    .page{
        width: 100%;
        background-size: 100% 100%;
        overflow-x: scroll;
        background-attachment: scroll;
        padding-right: 185%;
    }
}
@media screen and (min-width:401px) and (max-width:500px) {
    .page{
        width: 100%;
        background-size: 100% 100%;
        overflow-x: scroll;
        background-attachment: scroll;
        padding-right: 165%;
    }
}
@media screen and (min-width:501px) and (max-width:550px) {
    .page{
        width: 100%;
        background-size: 100% 100%;
        overflow-x: scroll;
        background-attachment: scroll;
        padding-right: 150%;
    }
}
@media screen and (min-width:551px) and (max-width:600px) {
    .page{
        width: 100%;
        background-size: 100% 100%;
        overflow-x: scroll;
        background-attachment: scroll;
        padding-right: 115%;
    }
}
@media screen and (min-width:601px) and (max-width:650px) {
    .page{
        width: 100%;
        background-size: 100% 100%;
        overflow-x: scroll;
        background-attachment: scroll;
        padding-right: 105%;
    }
}
@media screen and (min-width:651px) and (max-width:700px) {
    .page{
        width: 100%;
        background-size: 100% 100%;
        overflow-x: scroll;
        background-attachment: scroll;
        padding-right: 92%;
    }
}
@media screen and (min-width:701px) and (max-width:750px) {
    .page{
        width: 100%;
        background-size: 100% 100%;
        overflow-x: scroll;
        background-attachment: scroll;
        padding-right: 70%;
        // background-position: bottom;
    }
}
@media screen and (min-width:751px) and (max-width:800px) {
    .page{
        width: 100%;
        height: 150%;
        // line-height: 1140px;
        background-size: 100% 100%;
        overflow-x: scroll;
        background-attachment: scroll;
        padding-right: 60%;
    }
}
@media screen and (min-width:801px) and (max-width:860px) {
    .page{
        width: 100%;
        background-size: 100% 100%;
        overflow-x: scroll;
        background-attachment: scroll;
        padding-right: 50%;
    }
}
@media screen and (min-width:861px) and (max-width:920px) {
    .page{
        width: 100%;
        background-size: 100% 100%;
        overflow-x: scroll;
        background-attachment: scroll;
        padding-right: 40%;
    }
}
@media screen and (min-width:921px) and (max-width:1000px) {
    .page{
        width: 100%;
        background-size: 100% 100%;
        overflow-x: scroll;
        background-attachment: scroll;
        padding-right: 32%;
    }
}
@media screen and (min-width:1001px) and (max-width:1100px) {
    .page{
        width: 100%;
        background-size: 100% 100%;
        overflow-x: scroll;
        background-attachment: scroll;
        padding-right: 21.5%;
    }
}
// @media screen and (min-width:1101px) and (max-width:1200px) {
//     .page{
//         width: 100%;
//         background-size: 100% 100%;
//         overflow-x: scroll;
//         background-attachment: scroll;
//         padding-right: 18%;
//     }
// }
@media screen and (min-width:1101px) and (max-width:1200px) {
    .page{
        width: 100%;
        background-size: 100% 100%;
        overflow-x: scroll;
        background-attachment: scroll;
        padding-right: 11%;
    }
}
@media screen and (min-width:1201px) and (max-width:1300px) {
    .page{
        width: 100%;
        background-size: 100% 100%;
        overflow-x: scroll;
        padding-right: 5%;
    }
}
