.WeekText-heading{
    font-size: 0.9rem;
}
.WeekText p{
    font-weight: 500;
    color: rgb(105, 105, 105);
}


.WeekText-heading_Mentors input{
    border: none;
    border-bottom: 2px solid rgb(105, 105, 105);
    border-radius: 0;
}
.WeekText-heading_Marks>input{
    border: none;
}
li{
    margin-top:1rem;
}
.WeekText-marks,.WeekText-remarks{
    margin-top:0.5rem;
}


