@media (max-width: 36rem) {
  .accordion {
    padding: 1.875rem;
    margin-right: 2rem;
  }
  .accordion .content .submission .flex-content {
    height: 7rem;
  }
  .accordion .content .submission .flex-content button {
    position: absolute;
    top: 21.5rem;
    left: 3rem;
  }
}
@media (max-width: 48rem) {
  .accordion {
    padding: 1.875rem;
    margin-right: 2rem;
  }
  .accordion .content .submission .flex-content {
    height: 7rem;
  }
  .accordion .content .submission .flex-content button {
    position: absolute;
    top: 20.5rem;
    left: 3rem;
  }
}
@media (min-width: 31.625rem) and (max-width: 35.063rem) {
  .accordion {
    padding: 1.875rem;
    margin-right: 2rem;
  }
  .accordion .content .submission .flex-content {
    height: 7rem;
  }
  .accordion .content .submission .flex-content button {
    position: absolute;
    top: 21.5rem;
    left: 3rem;
  }
}
@media (min-width: 26.625rem) and (max-width: 31.563rem) {
  .accordion {
    padding: 1.875rem;
    margin-right: 2rem;
  }
  .accordion .content .submission .flex-content {
    height: 7rem;
  }
  .accordion .content .submission .flex-content button {
    position: absolute;
    top: 23.5rem;
    left: 3rem;
  }
  .accordion .content .submission .flex-content input {
    margin-right: 5rem;
  }
}
@media (max-width: 26.563rem) {
  .accordion {
    padding: 1.875rem;
    margin-right: -2rem;
  }
  .accordion .content .subsub-cont {
    margin-left: 0.5rem;
  }
  .accordion .content .submission .flex-content {
    height: 7rem;
  }
  .accordion .content .submission .flex-content input {
    width: 20%;
  }
  .accordion .content .submission .flex-content button {
    position: absolute;
    top: 23.5rem;
    left: 3rem;
  }
}
@media (max-width: 23.438rem) {
  .accordion {
    padding: 1.875rem;
    margin-right: -5rem;
  }
  .accordion .content .subsub-cont {
    margin-left: 0.5rem;
  }
  .accordion .content .submission .flex-content {
    height: 7rem;
  }
  .accordion .content .submission .flex-content input {
    width: 1rem;
  }
  .accordion .content .submission .flex-content button {
    position: absolute;
    top: 23.5rem;
    left: 3rem;
  }
}
@media (max-width: 20rem) {
  .accordion {
    padding: 1.875rem;
    margin-right: -8.5rem;
  }
  .accordion .icon {
    display: none;
  }
  .accordion .content {
    padding-right: 4rem;
    font-size: 0.5rem;
  }
  .accordion .content .subsub-cont {
    margin-left: 0.2rem;
  }
  .accordion .content .submission .flex-content {
    height: 7rem;
  }
  .accordion .content .submission .flex-content input {
    width: 0.5rem;
  }
  .accordion .content .submission .flex-content button {
    position: absolute;
    top: 23.5rem;
    left: 3rem;
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  box-sizing: border-box;
}
.container .title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5rem;
  top: 11.5rem;
  color: #000000;
  font-family: "Gilroy-ExtraBold";
}
.container .accordion {
  margin: -0.063 auto;
  font-size: 1.5rem;
  padding: 1.875rem;
  margin-right: 2rem;
}
.container .accordion .content {
  color: #565656;
  font-size: 0.875rem;
  font-family: "Gilroy-Light";
  font-weight: 500;
  cursor: default;
  padding-right: 2rem;
}
.container .accordion .content .subsub-cont {
  margin-left: 1rem;
}
.container .accordion .content .week-1-container {
  padding-left: 1.25rem;
  padding-right: 0.5rem;
}
.container .accordion .content .week-1-container a {
  color: #1071FF;
}
.container .accordion .content .week-1-container .resources #link {
  font-family: "Gilroy-Light";
  color: #565656;
  font-size: 0.875rem;
  cursor: default;
}
.container .accordion .content .week-1-container .resources #link a {
  cursor: pointer;
}
.container .accordion .content .week-1-container li {
  margin: 0.938rem;
  font-size: 1rem;
  font-family: "Gilroy-ExtraBold";
  color: #000000;
}
.container .accordion .content .week-1-container p {
  padding-left: 0.625rem;
}
.container .accordion .content .week-1-container .inputs {
  padding-left: 0.625rem;
  margin-top: 0.625rem;
  font-family: "Gilroy-Light";
  font-weight: 500;
  overflow-wrap: break-word;
  padding-right: 20rem;
  height: 2.5rem;
  width: 20rem;
  font-size: 0.875rem;
  width: 20rem;
}
.container .accordion .content .week-1-container .inputs p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 20rem;
}
.container .accordion .content .week-1-container .submission p {
  color: #A9ABAD;
}
.container .accordion .content .week-1-container .submission .flex-content {
  display: flex;
  flex-direction: row;
}
.container .accordion .content .week-1-container .submission .flex-content input {
  height: 1.375rem;
  width: 18rem;
  border-radius: 0.5rem;
  border: 1px solid #98A2B3;
  padding: 0.8rem 1rem;
  color: #98A2B3;
  font-size: 0.875rem;
}
.container .accordion .content .week-1-container .submission .flex-content button {
  margin-top: 0.655rem;
  position: absolute;
  right: 14.375rem;
  height: 2.75rem;
  width: 7.25rem;
  background-color: #1071FF;
  color: #FEFEFF;
  font-size: 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
}
.container .accordion .content .week-1-container .mentor-remarks p {
  color: #A9ABAD;
}
.container .accordion .content .week-1-container .marks {
  font-size: 2rem;
  color: #98A2B3;
}
.container .accordion .heading {
  cursor: pointer;
  padding: 0.875rem 0;
  font-weight: 500;
  color: #000000;
  font-size: 1.25rem;
  font-family: "Gilroy-ExtraBold";
}
.container .accordion .heading #span {
  font-family: "Gilroy-Light";
}
.container .accordion .parts {
  padding: 1.25rem;
  width: 100%;
  max-width: 43.75rem;
  margin: -0.063rem auto;
  border: 0.063rem solid #565656;
  position: relative;
}
.container .accordion .parts .flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.container .accordion .parts .flex .icon {
  position: absolute;
  right: 1.875rem;
  margin-top: 1rem;
}
.container .accordion #parts-begin {
  border-radius: 2rem 2rem 0px 0px;
}
.container .accordion #parts-end {
  border-radius: 0px 0px 2rem 2rem;
}
.container .accordion button {
  background-color: transparent;
  border: none;
  width: 100%;
}/*# sourceMappingURL=dashboard.css.map */