// @font-face {
//     font-family: Gilroy-ExtraBold;
//     src: url('fonts/Gilroy-ExtraBold.otf');
// }
// @font-face {
//     font-family: Gilroy-Light;
//     src: url('fonts/Gilroy-Light.otf');
// }
// .main{
//     display: flex;
//     justify-content:center ;
//     align-items: center;
// }
.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    .title{
        text-align: center;
        font-size:56px;
        top:184px;
        padding-bottom: 30px;
        padding-top: 30px;
        color: #000000;   
    }

    .accordion{
        width: 100%;
        max-width: 700px;
        margin: -1px auto;
        border: 1px solid #A9ABAD;
        border-radius: 32px;
        padding: 32px 40px;

        .content{
            color: #565656;
            font-size: 14px;
        }
        .content-hide{
            max-height: 0;
        }
        
        

        .heading{
            padding: 14px 0;
            font-weight: 600;
            color: #000000;
            font-size: 24px;
        }
        .parts{
            padding: 10px;
            border-bottom: 1px solid #A9ABAD;
            position: relative;

            .flex{
                
                display: flex;
                flex-direction: row;
                width: 100%;
                flex-wrap: wrap;
            

                .icon{
                    position: absolute;
                    right: 30px;
                    padding-top: 10px;
                    
                }
            }
            

        }
        button{
            background-color: transparent;
            border: none;
            width:100%;
        }
        
    }

    
}
