body{
    font-family:Gilroy-ExtraBold;
}
li{
    list-style: none;
}

h1{
    color: #1C1C1C;
    font-size: 4rem;
    line-height: 4.5rem;
    margin: 0;
}
p{
    color: #818181;
    font-family: Gilroy-Light;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 2%;
    margin: 1rem 0rem 3rem ;
    width: 60%;
    color: #667085;
}

.slide1-bg{
    height: calc(70vw );
    background-image: url('../Assets/images/Group\ 7512.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.slide1-content{
    display: grid;
    margin: 0 8%;
    width: 42%;
    padding-top: 5%;
}


.btn{
    font-family: Gilroy-Light;
    font-size: 1.5rem;
    padding: 2% 4%;
    margin-right: 4%;
    border-radius: .5rem;
    background-color: #3370F6;
    color: #ffffff;
    border: .15rem solid #3370F6;
}

.btn.btn2{
    margin: 0rem;
    background-color: #ffffff;
    color: #3370F6;

}

@media (max-width:1400px){
    .slide1-content h1{
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .slide1-content p{
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .btn{
        font-size: 1rem;
    }
}

@media (max-width:1274px){
    .slide1-content h1{
        font-size: 3.2rem;
        line-height: 3.5rem;
    }
    .slide1-content p{
        font-size: .9rem;
    }
    .btn{
        font-size: 1rem;
    }

}

@media (max-width:1164px){
    .slide1-content h1{
        font-size: 2.8rem;
        line-height: 3rem;
    }
    
    .btn{
        font-size: .9rem;
    }

}

@media (max-width:1052px){

    .slide1-content p{
        font-size: .8rem;
        margin-top: .5rem;
        margin-bottom: 1.5rem;
    }
    .btn{
        font-size: .9rem;
    }

}

@media (max-width:940px){
    .slide1-content p{
        width: 100%;     
    }
}

@media (max-width:658px){
    
    .slide1-bg{
        margin-top: 5vh;
    }
    .slide1-content{
        padding: 0;
    }
    .slide1-content h1{
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    .slide1-content p{
        line-height: 1.25rem;
    }
    .btn.btn2{
        margin-top: .5rem;
    }
    .btn{
        padding: .5rem;
        border: .1rem solid #3370F6;
    }
    
}
@media (max-width:530px){

    .slide1-bg{
        margin-top: 10vh;
    }
    .slide1-content h1{
        font-size: 2rem;
        line-height: 2.125rem;
    }
    
    .slide1-content p{
        line-height: 1rem;
        margin-bottom: .5rem;
    }
}

@media (max-width:465px){
    .slide1-bg{
        margin-top: 20vh;
    }
    .slide1-content{
        position: relative;
        top: -15vh;
    }
    .slide1-content h1{
        width:160%;
    }
    .slide1-button{
        
        width: 40vw;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: calc(70vw);
    }
}

@media (max-width:420px){
    .slide1-bg{
        margin-top: 20vh;
    }
    .slide1-content h1{
        width: 180%;
    }
    .btn{
        font-size: .75rem;
    }
}

@media (max-width:365px){

    .slide1-bg{
        margin-top: 22.5vh;
    }
    .slide1-content h1{
        width: 200%;
        font-size: 2rem;
    }
}

@media (max-width:325px){
    .slide1-content h1{
        font-size: 1.8rem;
    }
}





