.txt {
  width: 40rem;
  border-radius: 90px;
}

.heading {
  font-family: "GilroyGilroy-ExtraBold";
  font-weight: 700;
  font-size: 3rem;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #333333;
  padding-bottom: 3rem;
  margin-top: 4rem;
}

.txt h4 {
  font-family: "GilroyGilroy-ExtraBold";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.accordion p {
  font-family: "Gilroy-Light";
}

.img-f {
  width: 500px;
  height: 560px;
}

.txt {
  margin-top: 6rem;
}

.img {
  margin-top: 5rem;
}

.faqContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 4rem;
  border-top: 15px solid #ffc01f;
  margin-bottom: 8rem;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.accordion-item {
  border-bottom: 1px solid black;
}

.accordion-item hr {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.accordion-link {
  font-size: 1.6rem;
  color: #000;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-link h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

.accordion-link i {
  color: #000;
  padding: 0.5rem;
}

.accordion-link ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin-left: 25px;
}

.accordion-link li {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  padding: 0 0 1px 5px;
}

.accordion-link div {
  display: flex;
}

.accordion-link .ion-md-arrow-down {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.5rem;
  transition: max-height 650ms;
}

.answer p {
  color: #000;
  font-size: 15px;
  margin: 0;
}

.accordion-item:target .answer {
  max-height: 10rem;
}

.accordion-item:target .accordion-link .ion-md-arrow-forward {
  display: none;
}

.accordion-item:target .accordion-link .ion-md-arrow-down {
  display: block;
}
