.wrap h1 {
  font-size: 3rem;
}

.wrap p {
  font-size: 1rem;
}

.content-1 {
  color: #333333;
  margin: 0 8%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 10rem 0;
}

@media (max-width: 1024px) {
  .content-1 {
    padding: 8rem 0;
  }
}

@media (max-width: 769px) {
  .content-1 {
    padding: 8rem 0;
    flex-direction: column;
  }
}

@media (max-width: 426px) {
  .content-1 h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  .content-1 p {
    font-size: 1rem !important;
  }
}

.content-1 p {
  flex: 2;
  font-size: 1.25rem;
  line-height: 1.8rem;
  margin: 0;
  width: 100%;
  text-align: justify;
}

.content-2 {
  padding: 0 8rem 8rem;
}

.content-2 h1 {
  text-align: center;
  width: 100%;
}

@media (max-width: 426px) {
  .content-2 {
    padding: 0;
  }
  .content-2 h1 {
    font-size: 2.5rem;
  }
}

.content-2-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.content-2-items li {
  max-width: 25vw;
}

@media (max-width: 1024px) {
  .content-2-items li {
    max-width: 22vw;
  }
}

@media (max-width: 769px) {
  .content-2-items li {
    max-width: 50vw;
  }
}

@media (max-width: 426px) {
  .content-2-items li {
    max-width: 80vw;
  }
}

.content-2-wrapper {
  border: 2px solid #eaecf0;
  display: flex;
  line-height: 1.5rem;
  align-items: center;
  border-radius: 12.29px;
  padding: 1rem 1rem;
}

.content-2-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.slide-2-icon {
  width: 2.8rem;
}

.content-2-title {
  color: #000000;
  font-family: Gilroy-ExtraBold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0;
}

.content-2-detail {
  color: #757575;
  font-weight: 500 !important;
  line-height: 1.25rem;
  margin: 0;
  width: 100%;
}
