body {
  font-family: Gilroy-ExtraBold;
}

li {
  list-style: none;
}

h1 {
  color: #1c1c1c;
  font-size: 4rem;
  line-height: 4.5rem;
  margin: 0;
}

p {
  color: #818181;
  font-family: Gilroy-Light;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 2%;
  margin: 2rem 0rem 1.5rem;
  width: 80%;
  color: #667085;
}

.slide1-bg {
  position: relative;
  overflow: hidden;
  padding-top: 3rem;
}

.slide1-bg .blueContainerBottom {
  position: absolute;
  width: 100vw;
  height: 37vh;
  bottom: -9vh;
  background-color: #e0eaff;
  z-index: -1;
}

.slide1-bg .blueContainerTop {
  position: absolute;
  background-color: #e0eaff;
  height: 28vh !important;
  width: 120vw;
  bottom: 3.5vh !important;
  z-index: -1;
  margin-left: -2rem;
  transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
}

@media (max-width: 1024px) {
  .slide1-bg {
    height: 100vh;
  }
  .slide1-bg .heroContent {
    margin-top: 6rem !important;
    padding-right: 1rem !important;
  }
  .slide1-bg .heroContent h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .slide1-bg .heroContent p {
    margin: 1.5rem 0 2rem 0;
  }
  .slide1-bg .heroImage {
    padding-top: 5rem;
  }
}

@media (max-width: 769px) {
  .slide1-bg {
    height: max-content;
  }
  .slide1-bg .heroContent {
    padding: 0 5rem !important;
    margin: 0;
    text-align: center;
  }
  .slide1-bg .heroContent p {
    width: 90%;
    margin: 2rem auto;
  }
}

.slide1-bg .blueContainerBottom {
  height: 20vh;
}

.slide1-bg .blueContainerTop {
  height: 20vh;
  bottom: 5.5vh;
  transform: rotate(-4.5deg);
  -webkit-transform: rotate(-4.5deg);
  -moz-transform: rotate(-4.5deg);
  -ms-transform: rotate(-4.5deg);
  -o-transform: rotate(-4.5deg);
}

.slide1-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

@media (max-width: 769px) {
  .slide1-content {
    flex-direction: column;
    align-items: center;
  }
}

.slide1-content .heroContent {
  padding-right: 10rem;
  padding-left: 6rem;
  margin-top: 10rem;
}

.slide1-content .heroImage {
  z-index: 5;
  width: 40vw;
}

.slide1-content .btn {
  font-family: Gilroy-Light;
  font-size: 1.1rem;
  padding: 1.5% 3%;
  margin-right: 4%;
  border-radius: 0.5rem;
  background-color: #3370f6;
  color: #ffffff;
  border: 0.15rem solid #3370f6;
}

.slide1-content .btn:hover {
  background-color: #ffffff;
  border: 0.15rem solid #3370f6;
  color: #3370f6;
  cursor: pointer;
}

.slide1-content .btn.btn2 {
  margin: 0rem;
  background-color: #ffffff;
  color: #3370f6;
}

.slide1-content .btn.btn2:hover {
  background-color: #3370f6;
  color: #ffffff;
  border: 0.15rem solid #3370f6;
}

@media (max-width: 426px) {
  .slide1-content .heroContent {
    padding: 0 1rem !important;
  }
  .slide1-content .heroContent h1 {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .slide1-content .heroContent p {
    width: 100%;
  }
  .slide1-content .heroContent + img {
    width: 70vw;
  }
}
