.slide3-wrapper {
  padding: 0 8rem;
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  height: 85vh;
  padding-top: 5vh;
  background-image: url("../Assets/images/Group 7511.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .slide3-wrapper {
    padding: 0 6rem;
  }
}

@media (max-width: 769px) {
  .slide3-wrapper {
    padding: 0 2rem;
  }
}

.slide3-title {
  color: #333333;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.5rem;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

@media (max-width: 769px) {
  .slide3-title {
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem !important;
  }
}

@media (max-width: 426px) {
  .slide3-title {
    text-align: center;
    margin-top: 5rem;
    font-size: 2.5rem !important;
  }
}

.slide3-para {
  font-family: Gilroy-Light;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding-right: 20%;
  color: #667085;
}

@media (max-width: 769px) {
  .slide3-para {
    text-align: center;
    padding-right: 0 !important;
    font-size: 1.2rem !important;
    width: 90vw;
    margin: 0 auto;
  }
}

@media (max-width: 426px) {
  .slide3-para {
    text-align: center;
    padding-right: 0 !important;
    font-size: 1rem !important;
  }
}

.slide3-data {
  color: #101828;
  font-family: Gilroy-Light;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-auto-flow: row;
  padding-bottom: 10vh;
}

.Software {
  grid-column: 1;
  grid-row: 1/3;
}

.card {
  background-color: #ffffff;
  width: auto;
  border: 2px solid #eaecf0;
  padding: 1.5vw;
  padding-left: 1.5rem;
  border-radius: 12.29px;
  border: #eaecf0 solid;
}

@media (max-width: 769px) {
  .card {
    margin: 0 2rem !important;
  }
}

@media (max-width: 426px) {
  .card {
    margin: 0 2rem !important;
  }
}

.slide3-data h3 {
  font-family: Gilroy-ExtraBold;
  margin-top: 0;
  font-size: 2rem;
  line-height: 3rem;
}

.content-wrapper {
  display: flex;
  gap: 1rem;
  color: #667085;
}

.data-item1 {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (max-width: 1164px) {
  .slide3-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .slide3-para {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  br {
    display: none;
  }
  .slide3-para {
    margin-bottom: 3%;
  }
  .slide3-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .data-item1 {
    text-align: start;
  }
}

@media (max-width: 860px) {
  .slide3-title {
    font-size: 2.25rem;
    padding: 0;
  }
  .slide3-para {
    font-size: 0.8rem;
  }
}

@media (max-width: 580px) {
  .slide3-title {
    font-size: 1.8rem;
  }
  .slide3-para {
    font-size: 0.8rem;
    padding-right: 10%;
  }
  .slide3-wrapper h3 {
    font-size: 1.5rem;
  }
  .slide3-wrapper {
    padding-top: 0;
    background-image: none;
  }
  .slide3-data {
    grid-template-columns: 1fr;
  }
  .wrap {
    grid-template-rows: 3fr 2fr;
  }
  .card {
    margin-right: 10%;
  }
}

@media (max-width: 450px) {
  .card {
    margin: 0;
  }
}
