.WeekText {
  padding-left: 20px;
}

.WeekText-heading {
  font-size: 0.9rem;
}

.WeekText p {
  font-weight: 500;
  color: rgb(105, 105, 105);
}

.WeekText input {
  padding: 6px;
  border: 2px solid rgb(105, 105, 105);
  border-radius: 12px;
  width: 300px;
}

.WeekText button {
  margin: 18px;
  padding: 6px;
  width: 130px;
  border-radius: 14px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.WeekText-heading_Mentors input {
  border: none;
  border-bottom: 2px solid rgb(105, 105, 105);
  border-radius: 0;
}

.WeekText-heading_Marks > input {
  border: none;
}

.WeekText-marks, .WeekText-remarks {
  margin-top: 0.5rem;
}

@media screen and (max-width: 492px) {
  .WeekText input {
    width: fit-content;
  }
}